
body
    {background-color: #fdfefe;
    color: #020101;
    font-size: 18px;
    font-weight: 500;
    font-family:Courier, monospace;
    max-width:800px;
    margin: auto;}
.avatar
    {width: 400px;
    border-radius: 5%;
    height: 500px;
    box-shadow: 4px 4px 10px rgba(0,0,0);
    margin: 20px;
}
.info{
    margin-bottom: 20px;
    display: flex;
    padding-top: 20px;}

    @media (max-width:700px){
        .info{
            text-align: center;
            display: block;}}
 
.name 
    {margin: 10px;
    }

.about_me
    {padding: 15px;
    border:2px solid grey ;
    box-shadow: 4px 4px 15px black;
    margin-bottom: 20px;}
a
    {margin: auto;
    padding: 10px;}
h1
    {margin: auto;
    text-align: center;
    padding-top: 20px;}   
h2
    {margin: bottom 20px;
    text-align: center;
    border-bottom: solid 2px #000;}
.list{padding: 0 20px;}
.list li{margin-bottom: 10px;}
.contacts
    {padding: 15px;
    border:2px solid grey ;
    box-shadow: 4px 4px 15px black;
    margin-bottom: 20px;
    text-align: center;}
    .table
    {width: 100%;}

